<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: headFragment}"> </head>

<body>
<header th:replace="~{fragments/header :: headerFragment}"></header>

<main class="container-fluid px-4 mt-4">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script>
    </script>
</main>

<footer th:replace="~{fragments/footer :: footerFragment}"></footer>
</body>
</html>
